apiVersion: v1
kind: Service
metadata:
  name: service-{{ image_name }}
  namespace: {{ k8s_app_namespace }}
  labels:
    app: {{ image_name }}
spec:
  type: NodePort
  ports:
  - port: {{ k8s_exposed_port }}
    nodePort: {{ k8s_node_port }}
    targetPort: {{ image_exposed_port }}
    protocol: TCP
  selector:
    app: {{ image_name }}